.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0A2E4E;
    color: #CCCCCC;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.item{
    
    margin-right: 30px;
    cursor: pointer;

}

.item a {
    color: #CCCCCC;
    text-decoration: none;    
}

.item a:hover {
    color: #4A90E2;
}

.logo {
    width: 150px;
}